
/*
.trending, .anime{
    display: grid;
    grid-template-columns: repeat(2,100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

#trending1, #trending2, #arrivals1, #arrivals2, #arrivals3{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}*/

html{
    scroll-behavior: smooth;
}

.category{
    display: grid;
    grid-template-columns: repeat(2,100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.carouselPage{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;    
}

.card{
    transition: 250ms all;
    cursor: pointer;
}

.card:hover{
    margin: 0 40px;
    transform: scale(1.2);
    z-index:2;
}
.card img{
    width: 341px;
    height: 192px;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 69%) 0px 0px 0px -10px, rgb(0 0 0 / 73%) 0px 12px 10px -10px;
}

.card img:hover{
    box-shadow: rgb(0 0 0 / 69%) 0px 6px 10px -10px, rgb(0 0 0 / 73%) 0px 26px 10px -10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,0));
}

/*TRENDING CARDS*/
.trendingCategory{
    position: relative;
    display: grid;
    grid-template-columns: repeat(1,100%);
    overflow: hidden;
    scroll-behavior: smooth;
    z-index: 2;
}

.trendingCarouselPage{
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, auto);
    margin: 20px 0;  
}

.trendingCard{
    transition: 250ms all;
    cursor: pointer;
    display: flex;
}

.trendingCard p{
    position: absolute;
    font-size: 5rem;

    z-index: 3;
    -webkit-text-stroke: 2px rgba(61, 59, 59, 0.664);
    text-shadow: 0 5px 6px black;    
    margin-left: 5px;

}

.trendingCard:hover{
    margin: 0 40px;
    transform: scale(1.2);
    z-index:2;
}

.trendingCard img{
    height: 341px;
    width: 192px;
    box-shadow: rgb(0 0 0 / 69%) 0px 0px 0px -10px, rgb(0 0 0 / 73%) 0px 12px 10px -10px;
}

.trendingCard img:hover{
    box-shadow: rgb(0 0 0 / 69%) 0px 6px 10px -10px, rgb(0 0 0 / 73%) 0px 26px 10px -10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,0));
}
/*TRENDING CARDS*/


.carouselArrow{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 6em;
    background:rgb(0,0,0);
    width: 85px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.arrow-left{
    top:0; bottom:0; left:0;
    background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.arrow-right {
    top:0; bottom:0; right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.cardTitle{
    margin: 30px 0 100 10px;
}

#continueWatching1{
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
}

#continueWatching1 img {
    margin:1rem;
}

h3 {
    color: rgb(241, 229, 229);
    font-size: 18px;
    margin: 0.5rem 0 0 2rem;
    text-shadow: 0 0 5px rgb(75, 72, 72);
}

/**Pantalla Agus**/
@media (max-width: 1366px) {
    .category{
        height: 13rem;
    }

    .carouselArrow{ 
        height: 6.6rem
    }

    #continueWatching1{
        margin-top: 1rem;
    }

    .card img {
        width: 15rem;
        height: 9rem;
    }



    .card:hover{
        margin: 0 20px;
        transform: scale(1.1);
    }
}

/***Carrusel Responsive***/

@media (max-width: 1700px){
    .responsive1{
        display: none;
    }
}
@media (max-width: 1300px){
    .responsive2{
        display: none;
    }
}
@media (max-width: 1100px){
    .responsive3{
        display: none;
    }
}
@media (max-width: 950px){
    .responsive4{
        display: none;
    }
}
@media (max-width: 720px){
    .responsive5{
        display: none;
    }
}
@media (max-width: 535px){
    .responsive6{
        display: none;
    }
    .category{
        height: 10rem;
    }

    #continueWatching1 img{
        width: 9.2rem;
        height: 6rem;
    }

    .card img {
        width: 11.5rem;
        height: 8.5rem;
        margin-right: 1.5rem;
    }

    .trendingCard img {
        margin-right: 1rem;
        width: 11rem;
    }
}

