
.preview {
    background-color: #020304;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
}

.infoPreview {
    width: 20%;
    position: absolute;
    top: 25rem;
    left: 2rem;
    z-index:2;
    text-shadow: 0 0 5px black;
}

.logoPreview{
    width: 15rem;
}

button.add{
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -20px;
    border: 2px solid rgba(255, 234, 234, 0.432);
    margin-right: 1rem;
}

button.add:hover{
    background-color: #00000036;
}

button.fav{
    background-color: transparent;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -20px;
    border: 2px solid rgba(255, 234, 234, 0.432);
    margin-right: 1rem;
}

button.fav:hover{
    background-color: #00000036;
}

.sinopsis {
    display: none;
    margin: 0;
}

.logoPreview:hover + p {
    display: block;
}

.sinopsis:hover {
    display:block;
}

.filters {
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 25%,rgba(0,0,0,0));

}

.filters div {
    height: 7rem;
    width: 12rem;
    margin-right: 1rem;
    background-color: #243547;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 0,rgba(0,0,0,0));
    position: relative;
    cursor: pointer; 
}

.filters video{
    height: 6rem;
    width: 11rem;
    border-radius: 1rem;
    border: solid 2px grey;
    background-color: grey;
}

.filters img {
    position: absolute;
    height: 7rem;
    width: 12rem;
}

.anime img {
    height: 2rem;
    width: 7rem;
    position:absolute;
    top: 35%;
    left: 20%;
}

.filters video:hover {
    height: 7rem;
    width: 12rem;
    transform: scaleX(1.05);
    transition: 300ms all;
    border: solid 2px rgba(238, 238, 238, 0.7);
    box-shadow: 0 1rem 1rem #141a22;
    background-color: white;
}

.marvel:before {
    content: url('../img/cover.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 1rem;
}

.starwars:before {
    content: url('../img/cover.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 1rem;
}

.anime:before {
    content: url('../img/cover.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 1rem;
}

.disney:before {
    content: url('../img/cover.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    border-radius: 1rem;
    
}

.mobile {
    display:none;
}

/**Mobile**/
@media (max-width: 460px) {
    .infoPreview {
        display:none;
    }
    .filters {
        display: none;
    }

    .filters div {
        box-shadow: rgb(0 0 0 / 69%) 0px 0px 0px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    }

    .mobile {
        display: flex;
    }

    .mobile div {
        width: 20vh;
        height: 10vh;
    }
    .filterMobile {
        margin-bottom: 2rem;
    }
    .filterMobile  img {
        height: auto;
        width: 8rem;
        position:absolute;
        top: 0%;
        left: 0%;
    }

    .mobileMargin{
        margin-top:1rem;
    }

    .animeMobile img {
        height: auto;
        width: 5rem;
        position:absolute;
        top: 30%;
        left: 20%;
    }
}
